
<section [class.show-results]="options.results" [class.show-theme]="options.theme">
  <nav>
    <!-- App advanced options -->
    <div class="options">
      <button class="btn-results" (click)="options.results = !options.results">Fields: {{options.results? 'On':'Off'}}</button>
      <button class="btn-theme" (click)="options.theme = !options.theme">Styles: {{options.theme? 'On':'Off'}}</button>
    </div>
    <!-- List of expression operators -->
    <ul class="operators-list">
      <li *ngFor='let operator of operatorsService.getList(); let i = index;'>
        <app-operator-control [index]="i % 10" [operator]="operator"></app-operator-control>
      </li>
    </ul>
  </nav>
  <div>
    <!-- Main container -->
    <app-container class="main-container" [data]="total"></app-container>
  </div>
  <div class="result-total">
    <p><strong>Total</strong> = <span>{{total.value}}</span></p>
  </div>
</section>